@font-face {
  font-family: 'iconfont';  /* Project id 3234470 */
  src: url('//at.alicdn.com/t/font_3234470_gcxz6mquf55.woff2?t=1648455080023') format('woff2'),
       url('//at.alicdn.com/t/font_3234470_gcxz6mquf55.woff?t=1648455080023') format('woff'),
       url('//at.alicdn.com/t/font_3234470_gcxz6mquf55.ttf?t=1648455080023') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e6c2";
}

.icon-huiyuanqiaguanli:before {
  content: "\e658";
}

.icon-wodejifen:before {
  content: "\e7eb";
}

.icon-xinyongqia:before {
  content: "\e785";
}

.icon-jifen:before {
  content: "\e65e";
}

.icon-youhuiquan:before {
  content: "\e65f";
}

.icon-wodehuiyuanqia:before {
  content: "\e619";
}

.icon-youhuiquan1:before {
  content: "\e623";
}

.icon-jifen1:before {
  content: "\e638";
}

.icon-youhuiquan2:before {
  content: "\e64e";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-beizi-fill:before {
  content: "\e624";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-zhibei:before {
  content: "\e90f";
}

.icon-kafeibei:before {
  content: "\e62c";
}

.icon-kafeibei2:before {
  content: "\e72e";
}

.icon-dingdan:before {
  content: "\e618";
}

.icon-dingdan1:before {
  content: "\e614";
}

.icon-shouye:before {
  content: "\e751";
}

